version: '3.8'

services:
  backend:
    build: .                    
    container_name: fastapi_backend
    ports:
      - "8000:8000"             
    environment:
      - MONGODB_URL=mongodb://admin:password@mongo:27017/myapp?authSource=admin  
    depends_on:
      - mongo                    
    volumes:
      - .:/app                  
    networks:
      - app-network

  
  mongo:
    image: mongo:7.0            
    container_name: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
      - "27017:27017"           
    volumes:
      - mongo-data:/data/db     
    networks:
      - app-network


networks:
  app-network:
    driver: bridge


volumes:
  mongo-data:                   